body{font-family:Arial;background:#071120;color:#fff;text-align:center}
button{padding:12px;margin:6px;border-radius:10px;border:none;background:#4ade80;font-weight:bold}

/* ANIMAÇÃO PREMIUM */
.ponto-overlay {
  position: fixed;
  inset: 0;
  background: rgba(3, 10, 25, 0.45);
  display:flex;align-items:center;justify-content:center;
  z-index:9999;
}
.ponto-modal{
  background:#0c1b33;
  padding:30px;
  border-radius:20px;
}
.ponto-check{
  font-size:50px;
  color:#4ade80;
}